<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:each="action : ${actions}">
                    <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="display-jobs">

        <table th:block th:each="job : ${jobs}" class="job-listing">
            <tr>
                <td>ID</td>
                <td th:text = "${job.getId}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text = "${job.getName}"></td>
            </tr>
            <tr>
                <td>Employer</td>
                <td>
                    <a th:href="@{/list/jobs(column='employer', value=${job.getEmployer})}" th:text = "${job.getEmployer}"></a>
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td>
                    <a th:href="@{/list/jobs(column='location', value=${job.getLocation})}" th:text = "${job.getLocation}"></a>
                </td>
            </tr>
            <tr>
                <td>Position Type</td>
                <td>
                    <a th:href="@{/list/jobs(column='positionType', value=${job.getPositionType})}" th:text = "${job.getPositionType}"></a>
                </td>
            </tr>
            <tr>
                <td>Skill</td>
                <td>
                    <a th:href="@{/list/jobs(column='coreCompetency', value=${job.getCoreCompetency})}" th:text = "${job.getCoreCompetency}"></a>
                </td>
            </tr>
        </table>

</div>

</body>
</html>
